/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 18vh;
  color: white;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

/* STYLES */

.hero {
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 10%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details {
  max-width: 45%;
}